python-binance==1.0.17
python-telegram-bot==20.7
pandas==2.2.1
ta==0.10.2
python-dotenv==1.0.1
schedule==1.2.0
pytest==8.1.1
fastapi==0.110.0
uvicorn==0.29.0
sqlalchemy==2.0.28
alembic==1.13.1
plotly==5.19.0
jinja2==3.1.3
aiofiles==23.2.1
httpx~=0.25.2
# Зависимости для ML
tensorflow==2.15.0
scikit-learn>=1.4.0,<1.5.0
joblib==1.3.2
# Для мобильного приложения (API взаимодействие)
requests==2.31.0

